<%= content_for :body_id, "users" %>

<div class="menubar fixed">
  <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
  </div>

  <div class="page-title">
    Users
  </div>
  <form class="search hidden-xs">
    <i class="fa fa-search"></i>
    <input type="text" name="q" id="search" placeholder="Search users..."/>
  </form>
  <a href="#" data-toggle="modal" data-target="#form-validation-modal" class="new-user btn btn-success pull-right">
  	New user
  </a>
</div>

<div class="content-wrapper">
  <div class="row page-controls">
    <div class="col-md-12 filters">
      <div class="links">
        <label>Filter users:</label>
        <a href="#" class="active">All users (<%= @users.count %>)</a>
        <a href="#">Active (<%= @users.select {|u| u.activated}.size %>)</a>
        <a href="#">Pending activation (<%= @users.count - @users.select {|u| u.activated}.size %>)</a>
      </div>

      <div class="show-options">
        <div class="dropdown">
            <a class="button" data-toggle="dropdown" href="#">
              <span>
                Sort by
                <i class="fa fa-unsorted"></i>
              </span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="margin-right:0px! important">
              <li><a href="#">Name</a></li>
              <li><a href="#">Email</a></li>
              <li><a href="#">Role</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">Signed up</a></li>
            </ul>
        </div>
        <!--<a href="#" data-grid=".users-list" class="grid-view active"><i class="fa fa-th-list"></i></a>
        <a href="#" data-grid=".users-grid" class="grid-view"><i class="fa fa-th"></i></a>-->
      </div>
    </div>
  </div>

  <div class="row users-list">
    <div class="col-md-12">
      <div class="row headers">
        <div class="col-sm-2 header select-users">
          <input type="checkbox" />
          <div class="dropdown bulk-actions">
            <a data-toggle="dropdown" href="#">
                Bulk actions
                <span class="total-checked"></span>

                <i class="fa fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#" id="reset">Reset password</a></li>
                <li><a href="#" id="delete">Delete users</a></li>
              </ul>
          </div>
        </div>
        <div class="col-sm-2 header hidden-xs">
          <label><a href="#">Name</a></label>
        </div>
        <div class="col-sm-2 header hidden-xs">
          <label><a href="#">Email</a></label>
        </div>
        <div class="col-sm-2 header hidden-xs">
          <label><a href="#">Role</a></label>
        </div>
        <div class="col-sm-2 header hidden-xs">
          <label><a href="#">Status</a></label>
        </div>
        <div class="col-sm-2 header hidden-xs">
          <label class="text-right"><a href="#">Signed up</a></label>
        </div>
      </div>

      <% @users.each do |user| %>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <%= check_box_tag("delete[]", user.id, false) %>
          <!--<input type="checkbox" name="select-user" />-->
          <%= image_tag "avatars/missing.jpg" %>
        </div>
        <div class="col-sm-2">
          <a href="<%= user_path(user) %>" class="name" data-type="name"><%= user.name %></a>
        </div>
        <div class="col-sm-2">
          <div class="email" data-type="email"><%=user.email %></div>
        </div>
        <div class="col-sm-2">
          <% if user.admin? %>
            <span class="name" data-type="role">Administrator</span>
          <% else %>
            <span class="name" data-type="role">User</span>
          <% end %>
        </div>
        <div class="col-sm-2">
        <span class="name">
          <% if user.activated? %>
            <span class="label label-success" data-type="status">Active</span>
          <% else %>
            <span class="label label-warning" data-type="status">Pending</span>
          <% end %>
        </span>
        </div>
        <div class="col-sm-2">
          <div class="created-at" data-type="signed-up">
            <%= user.created_at.strftime("%m/%d/%Y") %>
          </div>
        </div>
      </div>
      <% end %>

      <div class="row pager-wrapper">
        <div class="col-sm-12">
          <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<%= content_for :bottom_content do %>
  <%= render :partial => "users/new_user" %>
<% end %>
