<%= content_for :body_id, "users" %>

<%= form_for(@user) do |f| %>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">
      Create a new user
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <%= render 'shared/error_messages' %>

        <%= f.label :name, "Name:"%>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email:"%>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <!--<div class="form-group">
        <label>Notes:</label>
        <textarea class="form-control" name="user[notes]" rows="3"></textarea>
      </div>-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Save user", class: "btn btn-success" %>
  </div>
<% end %>
