<div id="sidebar-flat-dark" class="main-sidebar fix-scroll">
  <div class="current-user">
      <a href="#" class="name">
        <%= image_tag "fallback/missing.jpg", class: "avatar" %>
        <span>
          Jorge Pereira
          <i class="fa fa-chevron-down"></i>
        </span>
      </a>
      <ul class="menu">
        <li>
          <a href="<%= edit_user_path(1) %>">Account settings</a>
        </li>
        <li>
          <a href="<%= signin_features_path %>">Sign out</a>
        </li>
      </ul>
  </div>
  <div class="menu-section">
    <h3>General</h3>
    <ul>
      <li class="option">
          <a href="<%= dashboard_path %>">
            <i class="ion-earth"></i>
            <span>Dashboard</span>
          </a>
      </li>
      <li class="option">
        <a href="#" data-toggle="sidebar">
          <i class="ion-navicon-round"></i> <span>Tariff Analysis</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="<%= tariffs_path %>">View tariff table</a></li>
          <li><a href="<%= new_tariff_path %>">Upload tariff table</a></li>
        </ul>
      </li>
      <li class="option">
        <a href="#" data-toggle="sidebar">
          <i class="ion-alert-circled"></i> <span>Risk Analysis</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="<%= risks_path %>">View risk table</a></li>
          <li><a href="<%= new_risk_path %>">Upload risk table</a></li>
        </ul>
      </li>
      <li class="option">
        <a href="#" data-toggle="sidebar">
          <i class="ion-pie-graph"></i> <span>Market Analysis</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="<%= competitors_path %>">View competitive set</a></li>
          <li><a href="<%= new_competitor_path %>">Upload competitive set</a></li>
        </ul>
      </li>
      <li class="option">
        <a href="#" data-toggle="sidebar">
          <i class="ion-cube"></i> <span>Product Bundler</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="<%= product_templates_path %>">View product templates</a></li>
          <li><a href="<%= new_product_template_path %>">Create product template</a></li>
        </ul>
      </li>
      <li class="option">
        <a href="#" data-toggle="sidebar">
          <i class="ion-person-stalker"></i> <span>Customer Analysis</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="<%= surveys_path %>">View survey results</a></li>
          <li><a href="<%= new_survey_path %>">Upload survey results</a></li>
        </ul>
      </li>
      <li class="option">
        <a href="#" data-toggle="sidebar">
          <i class="ion-erlenmeyer-flask"></i> <span>Experimental Design </span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="<%= simulation_coefficients_path %>">New simulation</a></li>
          <li><a href="<%= coefficients_path %>">View beta coefficients</a></li>
          <li><a href="<%= new_coefficient_path %>">Upload beta coefficients</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!--<div class="menu-section">
    <h3>Brokers</h3>
    <ul>
      <li class="option">
        <a href="#">
          <i class="ion-stats-bars"></i>
          <span>Progress Report</span>
        </a>
      </li>
      <li class="option">
        <a href="#">
          <i class="ion-chatboxes"></i>
          <span>Manage Quotes</span>
        </a>
      </li>
    </ul>
  </div>-->
  <div class="menu-section">
    <h3>Admin</h3>
    <ul>
      <li class="option">
        <a href="#" data-toggle="sidebar">
          <i class="ion-person"></i> <span>My Account</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="<%= user_path(1) %>">Personal Info</a></li>
          <li><a href="<%= notifications_users_path %>">Notifications</a></li>
        </ul>
      </li>
      <li class="option">
          <a href="<%= users_path %>">
            <i class="ion-person-stalker"></i>
            <span>Users & Roles</span>
          </a>
      </li>

      <!--<li class="option">
        <a href="#" data-toggle="sidebar">
          <i class="ion-briefcase"></i> <span>My Company</span>
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="<%= users_path %>">Users &amp; Roles</a></li>
          <li>
            <a href="#" data-toggle="sidebar">
              Settings
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li><a href="<%= insurer_path(1) %>">Profile</a></li>
              <li><a href="<%= billing_insurers_path(1) %>">Billing</a></li>
            </ul>
          </li>
        </ul>
      </li>-->
    </ul>
  </div>
  <div class="bottom-menu hidden-sm">
    <ul>
      <li><a href="#"><i class="ion-help"></i></a></li>
      <li>
        <a href="#">
          <i class="ion-archive"></i>
          <!--<span class="flag"></span>-->
        </a>
        <!--<ul class="menu">
          <li><a href="#">5 unread messages</a></li>
          <li><a href="#">12 tasks completed</a></li>
          <li><a href="#">3 features added</a></li>
        </ul>-->
      </li>
      <li>
        <%= link_to logout_path, method: :delete do %>
          <i class="ion-log-out"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
