<% provide(:title, "Dashboard") %>
<%= content_for :body_id, "dashboard" %>

<script>
$(document).ready ( function () {

  $('.ex1').slider({
    formatter: function(value) {
      return 'Current value: ' + value;
    }
  });

  /*$('#previous').hover(
    function() {
      $(this).removeClass('ion-android-arrow-dropleft');
      $(this).addClass('ion-android-arrow-dropleft-circle');
    },
    function() {
      $(this).removeClass('ion-android-arrow-dropleft-circle');
      $(this).addClass('ion-android-arrow-dropleft');
    });*/

});
</script>

<style>

.referral b {
  margin: 0 10px;
}

.referral p {
  padding-top: 10px;
}

#ex1Slider {
  width: 80%;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

#ex1Slider .slider-handle {
  background: black;
}

#previous, #next {
  color: gray;
}

#previous:hover, #next:hover {
  color: black;
}
</style>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
    </div>

  <div class="page-title">
        Dashboard
  </div>
</div>

<%= debug @result %>
<div class="content-wrapper">

  <div class="chart">
    <h3>
      <i>f</i> <small>(Preference Share)</small> = Price
    </h3>
    <div id="visitors-chart"></div>
  </div>

  <div id style="margin:0 auto; position:relative; height:30px; top:-50px; text-align:center">
    <a href=""><i id="previous" class="icon ion-android-arrow-dropleft-circle" style="font-size:32px; margin-right:20px"></i></a>
    <a href=""><i id="next" class="icon ion-android-arrow-dropright-circle" style="font-size:32px"></i></a>
  </div>

  <table id="orders-datatable" style="margin:0 auto; background-color: rgb(224, 224, 224)">
    <thead>
      <tr>
        <th tabindex="0" rowspan="1" colspan="1">Tariff</th>
        <% @pivot.column_headers.each do |c| %>
          <th tabindex="0" rowspan="1" colspan="1"><%= c %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% unless @competitors.empty? %>
        <% @pivot.rows.each do |r| %>
          <tr>
            <td><a href="<%= tariff_path(r.header) %>"><%= r.header %></a></td>
            <% r.data.each do |d| %>
              <td>
              <div class="has-feedback">
                <%= text_field_tag r.header, d, :class => "form-control" %>
                <i class="ion-reply form-control-feedback" style="margin-top:-25px; cursor:pointer" data-toggle="tooltip" title="Reverse changes">
                </i>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>

    </table>

  <div class="charts-half clearfix">
    <div class="chart pull-left">
      <h3>
        Beta Coefficients
      </h3>

      <% @coefficient_keys.each do |ck|%>
      <div class="referral">
        <span style="margin-bottom:30px !important"><%= ck %></span>
        <p>
          <b>0</b><input class="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="2" data-slider-step="0.1" data-slider-value="1"/><b>2</b>
        </p>
      </div>
      <% end %>
    </div>

    <div class="chart pull-right">
      <h3>
        Product Utilities
      </h3>
      <div>
        <table id="orders-datatable-2" style="width: 100% !important; overflow:scroll; position:relative">
          <thead>
            <tr>
              <% @keys.each do |k| %>
                <th tabindex="0" rowspan="1" colspan="1"><%= k %></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><a href="#">High Price</a></td>
              <td>2160 €</td>
              <td>6,6 %</td>
              <td>2160 €</td>
              <td>6,6 %</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
