  <% provide(:title, "Tariff Analysis") %>
  <%= content_for :body_id, "datatables" %>

  <div class="menubar">
    <div class="sidebar-toggler visible-xs">
      <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
      Tariff table
    </div>
    <div class="options pull-right hidden-xs">
      <%= link_to(tariffs_path(format: :csv)) do %>
        <i class="fa fa-download"></i> <span>Download CSV</span>
      <% end %>
    </div>
    <div class="date-range pull-right">
      <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <i class="fa fa-calendar-o"></i>
          </span>
          <input type="text" name="daterange" class="form-control" placeholder="05/01/2014 - 05/31/2014" />
      </div>
    </div>
  </div>

  <%= debug @tariffs2 %>
  <div class="content-wrapper" style="overflow:auto !important">
  <%# render :partial => "shared/filter_table" %>

    <table id="orders-datatable">
      <thead>
        <tr>
        <%- unless Tariff.all.empty? %>
          <%- Tariff.column_names.each do |header| %>
            <%- exceptions = ["created_at", "updated_at", "premium", "insurer_id"] %>
            <%- unless exceptions.include? header %>
              <% if header == "properties" %>
                <% Tariff.first.properties.each do |k,v| %>
                <th tabindex="0" rowspan="1" colspan="1"><%= k %></th>
                <% end %>
              <% else %>
                <th tabindex="0" rowspan="1" colspan="1"><%= header.camelize %></th>
              <% end -%>
            <% end -%>
          <% end -%>
        <% end -%>
        </tr>
      </thead>

      <tfoot>
        <tr>
        <%- unless Tariff.all.empty? %>
          <%- Tariff.column_names.each do |header| %>
          <%- exceptions = ["created_at", "updated_at", "premium", "insurer_id"] %>
            <%- unless exceptions.include? header %>
              <%- if header == "properties" %>
                <%- Tariff.first.properties.each do |k,v| %>
                <th tabindex="0" rowspan="1" colspan="1"><%= k %></th>
                <% end -%>
              <%- else %>
                <th tabindex="0" rowspan="1" colspan="1"><%= header.camelize %></th>
              <% end -%>
            <% end -%>
          <% end -%>
        <% end -%>
        </tr>
      </tfoot>
      <tbody>
        <%# @tariffs.tap do |head, *body| %>
        <%- unless Tariff.all.empty? %>
          <%- @tariffs.each do |tariff| %>
            <tr>
              <td class=" sorting_1"><%= tariff.id %></td>
              <%- unless tariff.properties.blank? %>
                <%- tariff.properties.each do |k,v| %>
                <td>
                  <%= v %>
                  </td>
                <% end -%>
              <% end -%>
              <td><%= tariff.segment %></td>
              <!--<td><%= tariff.segment %></td>-->
            </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  </div>
