  <% provide(:title, "Tariff Analysis") %>
  <%= content_for :body_id, "datatables" %>

  <div class="menubar">
    <div class="sidebar-toggler visible-xs">
      <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
      Tariff table
    </div>
  </div>

  <div class="content-wrapper" style="overflow:auto !important">

    <table id="tariff-detail-datatable">
      <thead>
        <tr>
        <% @header.each do |header| %>
          <% exceptions = ["created_at", "updated_at", "segment", "insurer_id"] %>
          <% unless exceptions.include? header %>
            <% if header == "properties" %>
              <% Tariff.first.properties.each do |k,v| %>
              <th tabindex="0" rowspan="1" colspan="1"><%= k %></th>
              <% end %>
            <% else %>
              <th tabindex="0" rowspan="1" colspan="1"><%= header.camelize %></th>
            <% end %>
          <% end %>
        <% end %>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class=" sorting_1"><%= @tariff.id %></td>
          <% unless @tariff.properties.blank? %>
            <% @tariff.properties.each do |k,v| %>
              <td><%= v %></td>
            <% end %>
            <td><%= Competitor.find_by(:tariff_id => @tariff, :name => "My Company").premium  %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group form-actions" style="text-align:center">
  <%= link_to :back, :class => "button small-button green-button" do %>
    <span><i class="fa fa-angle-double-left"></i> Back</span>
  <% end %>
</div>
