<% provide(:title, "Risk Analysis") %>
<%= content_for :body_id, "datatables" %>

<div class="menubar">
  <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
  </div>

  <div class="page-title">
    Risk table
  </div>
</div>

<div class="content-wrapper" style="overflow:auto !important">
<%# render :partial => "shared/filter_table" %>

  <table id="orders-datatable">
    <thead>
      <tr>
      <% @header.each do |header| %>
        <% if header == "covariates" %>
          <% Risk.first.covariates.each do |k,v| %>
          <th tabindex="0" rowspan="1" colspan="1"><%= v["name"] %></th>
          <% end %>
        <% else %>
          <th tabindex="0" rowspan="1" colspan="1"><%= header.camelize %></th>
        <% end %>
      <% end %>
      </tr>
    </thead>

    <tfoot>
      <tr>
      <% @header.each do |header| %>
        <% if header == "covariates" %>
          <% Risk.first.covariates.each do |k,v| %>
          <th tabindex="0" rowspan="1" colspan="1"><%= v["name"] %></th>
          <% end %>
        <% else %>
          <th tabindex="0" rowspan="1" colspan="1"><%= header.camelize %></th>
        <% end %>
      <% end %>
      </tr>
    </tfoot>
    <tbody>
    <% @risks.each do |risk| %>
      <tr>
        <td><%= risk.id %></td>
        <% unless risk.covariates.blank? %>
          <% risk.covariates.each do |k,v| %>
          <td>
            <!--<input type="text" name="name" class= "form-control", style="width:100% !important" value="<%= v["value"] %>">-->
            <%= v["value"] %>
            </td>
          <% end %>
        <% end %>
        <td><%= risk.exposition %></td>
        <td><%= risk.frequency %></td>
        <td><%= risk.exposition * risk.frequency %></td>
        <td><%= risk.cost %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
