<% provide(:title, "Market Analysis") %>
<%= content_for :body_id, "datatables" %>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

  <div class="page-title">
    Competitive set
  </div>
  <div class="options pull-right" style="margin-top:5px !important">
    <a href="#" data-grid=".users-grid" class="grid-view"><i class="fa fa-th" style="font-size:20px !important; margin-right:5px"></i></a>
    <a href="#" data-grid=".users-list" class="grid-view active"><i class="fa fa-th-list" style="font-size:20px !important"></i></a>
  </div>
</div>

<div class="content-wrapper">

  <table id="orders-datatable">
    <thead>
      <tr>
          <th tabindex="0" rowspan="1" colspan="1">Tariff ID</th>
          <th tabindex="0" rowspan="1" colspan="1">Company</th>
          <th tabindex="0" rowspan="1" colspan="1">Premium</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
          <th rowspan="1" colspan="1">Tariff ID</th>
          <th rowspan="1" colspan="1">Company</th>
          <th rowspan="1" colspan="1">Premium</th>
      </tr>
    </tfoot>

    <tbody>
      <% unless @products.empty? %>
        <% @products.each do |p| %>
          <tr>
            <td><a href="<%= tariff_path(r.header) %>"><%= p.tariff_id %></a></td>
            <td><a href="<%= tariff_path(r.header) %>"><%= p.company %></a></td>
            <td><a href="<%= tariff_path(r.header) %>"><%= p.premium %></a></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
</div>
