<% provide(:title, "Market Analysis") %>
<%= content_for :body_id, "datatables" %>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

  <div class="page-title">
    Competitive set
  </div>
  <div class="options pull-right" style="margin-top:5px !important">
    <a href="/competitors" data-grid=".users-list" class="grid-view active"><i class="fa fa-th-list" style="font-size:20px !important; margin-right:5px"></i></a>
    <a href="#" data-grid=".users-grid" class="grid-view"><i class="fa fa-th" style="color:gray; cursor:default; font-size:20px !important"></i></a>
  </div>
</div>

<div class="content-wrapper">

  <table id="orders-datatable">
    <thead>
      <tr>
        <th tabindex="0" rowspan="1" colspan="1">Tariff ID</th>
        <% @pivot.column_headers.each do |c| %>
          <th tabindex="0" rowspan="1" colspan="1"><%= c %></th>
        <% end %>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th tabindex="0" rowspan="1" colspan="1">Tariff ID</th>
        <% @pivot.column_headers.each do |c| %>
          <th tabindex="0" rowspan="1" colspan="1"><%= c %></th>
        <% end %>
      </tr>
    </tfoot>

    <tbody>
      <% unless @competitors.empty? %>
        <% @pivot.rows.each do |r| %>
          <tr>
            <td><a href="<%= tariff_path(r.header) %>"><%= r.header %></a></td>
            <% r.data.each do |d| %>
              <td><%= d %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>

    </table>
</div>

