<%= content_for :body_id, "gallery" %>

<div class="menubar">
  <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
  </div>

  <div class="page-title">
    Brokers
  </div>
</div>

<%= @test %>
<div class="content-wrapper clearfix" style="height:800px !important">
  <div class="gallery-wrapper">
    <% @brokers.each do |b| %>
    <a href="<%= broker_path(b)%>">
    <div class="image" style="background-image:url('<%= base_url %>/assets/crawlers/<%= b.name %>.jpg');cursor:pointer">
      <div class="mask">
        <div class="name"><%= b.name %></div>
        <div class="date"><%= b.created_at.strftime('%c') %></div>
      </div>
    </div>
    </a>
    <% end %>
  </div>
</div>
