<% provide(:title, "Market Analysis") %>
<%= content_for :body_id, "datatables" %>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

  <div class="page-title">
    Competitive set
  </div>
</div>

<div class="content-wrapper">

  <table id="orders-datatable">
    <thead>
      <tr>
        <% @header.each do |header| %>
        <% if header == "properties" %>
          <% Product.first.properties.each do |k,v| %>
            <th tabindex="0" rowspan="1" colspan="1"><%= v["name"] %></th>
          <% end %>
        <% else %>
          <th tabindex="0" rowspan="1" colspan="1"><%= header.camelize %></th>
        <% end %>
      <% end %>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <% @header.each do |header| %>
          <% if header == "properties" %>
            <% Product.first.properties.each do |k,v| %>
              <th tabindex="0" rowspan="1" colspan="1"><%= v["name"] %></th>
            <% end %>
            <% else %>
              <th tabindex="0" rowspan="1" colspan="1"><%= header.camelize %></th>
          <% end %>
        <% end %>
      </tr>
    </tfoot>

    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.company %></td>
        <% unless product.properties.blank? %>
          <% product.properties.each do |k,v| %>
          <td>
            <!--<input type="text" name="name" class= "form-control", style="width:100% !important" value="<%= v["value"] %>">-->
            <%= v["value"] %>
            </td>
          <% end %>
        <% end %>
        <td><%= product.premium %></td>
      </tr>
    <% end %>
    </tbody>

    </table>
</div>

